h1,
h2 {
  font-family: Lato;
}
#parNomi {
  /*dimensioni in pixel, da cambiare in futuro*/
  height: 10px;
  width: 200px;
}

.posto:hover {
  background-color: lightblue;
}

.prenotato {
  background-color: red;
}
.libero {
  background-color: turquoise;
}
.selezionato {
  background-color: darkslategrey;
}

.nonVisibile {
  display: none;
}
.visibile {
  display: block;
}
